<% provide(:title, "User profile") %>

<div class="row">
	<h1>All vacancies</h1>
</div>
<div class="row">
	<% @vacancies.each do |vacancy| %>
		<div class="row">
			<div class="large-12 columns">
				<div class="large-6 columns">
					<%= link_to vacancy.title, edit_vacancy_path(vacancy)  %>
				</div>
				<div class="large-2 columns">	
					<span class="radius secondary label"><%= approve_vacancy(vacancy) %></span>
				</div>
				<div class="large-1 columns">	
					<%= link_to "delete", vacancy_path(vacancy), method: :delete, data: { confrim: "Are you sure?" }  %>
				</div>
				<div class="large-3 columns">	
					<%= vacancy.company %>
				</div>
			</div>
		</div>																				
	<% end %>	
</div>
