<% provide(:title, "Conditions") %>

<div class="row">
	<div class="large-7 large-centered columns">
		<h1>Conditions</h1>
	</div>	
</div>
<div class="row">
	<div class="large-7 large-centered columns">
		<ul class="square">
			<li>You can add vacancy totaly for FREE</li>
			<li>Information in vacancies is posted without any changes</li>
			<li>Rubyjobs is not responsible for the content of posted vacancies</li>
			<li>Prohibited to post text that is illegal</li>
			<li>Each vacancy is reviewed before confirmation</li>
			<li>Vacancies that are not ruby are not confirmed</li>
		</ul>
	</div>
</div>