<div class="row">
	<div class="large-6 large-centered columns">	
		<h3>Creations studio</h3>
		<h5>web: <%= link_to "Creations", "http://creations.cz" %></h5>
		<h5>email: <%= mail_to "info@creations.cz" %></h5>
		<h5> phone: +420 111 222 333</h5>
	</div>
</div>