<div class="row">
	<div class="large-8 columns">
		<h1>All vacancies</h1>	
	</div>
	<div class="large-4 columns">
		<h4><%= link_to "New vacancy", new_vacancy_path, :class => "large alert button expand"  %></h4>
	</div>	
</div>
<div class="row">
	<div class="large-12 large-centered columns">
		<% @vacancies.each do |vacancy| %>
			<% if vacancy.confirmed? %>
				<h3><%= link_to vacancy.title, vacancy_path(vacancy) %></h3>
					<% if vacancy.hot? %>
						<span class="alert label">HOT</span>
					<% end %>
					<% if vacancy.junior? %>
						<span class="success label">Juniors</span>
					<% end %>
				<h5><%= truncate(vacancy.description, length: 150 ) %></h5>
			<% end %>
		<% end %>
	<div/>		
<div/>